@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kanit:wght@100;400&display=swap');


body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: orange;
    /* background-color: rgb(8, 126, 230); */
    
}
#h1{
    text-align: center;
    font-size: 2.5rem;
    font-family: "Dancing Script", cursive;
    /* border: 1px solid black; */
    /* padding: 10px; */
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    /* background-color: aliceblue; */
}
.card{
    font-family: "Kanit", sans-serif;
    font-weight: 20;
    padding:  05px 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: yellow;
}
#btn{
    padding: 10px;
    font-family: "Kanit", sans-serif;
    border: 1px solid transparent;
    border-radius: 10px;

}
#btn:hover{
    background-color: rgb(197, 236, 56);
    border: 1px solid orange;
    cursor: pointer;
}
.btn-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    margin: 10px;
}

.buttons{
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: bolder;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgb(231, 177, 75);
}
.buttons:hover{
    background-color: rgb(240, 226, 28);
    cursor: pointer;
}